/* Style for Body */
body {
    font-family: Arial, sans-serif;
    color: #282727;
    background-color: #f8f8f8;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    height: 100vh;

    
    
}
html{
  scroll-behavior: smooth;
}

/* Header Styles */
header {
    background-color: #171616;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.5px solid #fff;
}

  
  .logo {
    flex: 1;
    margin-left: 3em;
    
  }
  
  .logo h1{
    font-size: 24px;
  }

  .logo h1 span{
    color: rgb(255, 7, 7);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav ul li a:hover {
    color: rgb(255, 7, 7);
  }
  



  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
    }

    
  }
  footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 11px;
}
#key-players {
  margin-top: 1px;

    

  }
  
  #key-players  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #key-players  .title-container h1 {
    font-size: 40px;
    color: #201f1f;
    
  }
  
  #key-players  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.5);
    padding: 25px 50px 75px 100px;

  }
  
  #key-players  .container .image-container img {
    width: 600px;
    
  }
  
  #key-players  .container .player-text ul {
    order: 2; 
    list-style-type: disc;
    font-size: 24px;
    padding-left: 30px;
    margin: 20px;
    color: #000000;
   
  }

 
  
  #current-situation h1 {
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
  }

  .Current-top{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;

  
  }

 .federal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.5);

 }

  .Current {
   align-items: center;
    width: 24px;
    font-family: Montserrat, sans-serif;
    width: 100%;
  
  }

  
  .federal h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  .federal ul{
    padding: 50px;
    margin: 10px;
    text-align: center;
    list-style-type: disc;
    width: 80%;


  

  }
  
 .federal ul li {
    
    font-size: 24px;
    padding-left: 20px;
    margin: 10px 0;
    color: #ffffff;
    text-align: left;
    
   
  }

 #prevalence .centered .current ul {
    list-style-type: disc;
    font-size: 18px;
    padding-left: 20px;
    margin: 10px 0;
    color: #000000;
  }
 #conclusion .text{
  color: #f8f8f8;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.5);
 }
 
  
  @media screen and (min-width: 768px) {
    #current-situation {
      margin-top: 100px;
    }
  
    .federal {
      margin-bottom: 80px;
    }
  
  
  
    .federal p {
      font-size: 18px;
      line-height: 1.6em;
      text-align: left;
    }
  }
  
  @media screen and (min-width: 992px) {
    #current-situation {
      margin-top: 50px;
    }
  
    .federal img {
      width: 400px;
    }
  
    .federal p {
      font-size: 20px;
    }
  }
  
  #current-situation h1{
    font-size: 48px;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
  }

  .wrapper{
    text-align: center;
    margin-top: 100px;
  }
  
  .wrapper h1{

    font-size: 48px;
    color: #000000;
    margin-bottom: 25px;
  }
  
  .our_team{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .our_team .team_member{
    width: 2500px;
    margin: 5px;
    margin-bottom: 200px;
    background: #000000;
    padding: 20px 10px;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  }
  
  .our_team .team_member .member_img{ 
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    cursor: pointer;

  }
  
  .our_team .team_member .member_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

  }
  
  .our_team .team_member h3{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
    color: #ffffff;


  }
  
  .our_team .team_member span{
    font-size: 10px;
  }
  
  .our_team .team_member p{
    padding: 50px;
    margin-top: 20px;
    text-align:left ;
    font-size: 18px;
    line-height: 1.5em;
    color: #fff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
  }
  
  .our_team .team_member .member_img .social_media{
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0,0,0,0.65);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
     transition: all 0.5s ease;
  }
  
  .our_team .team_member .member_img .social_media .item{
    margin: 0 10px;
  }
  
  .our_team .team_member .member_img .social_media .fab{
    color: #ffffff;
    font-size: 20px;
  }
  
  .our_team .team_member .member_img:hover .social_media{
    transform: scale(1);
  }



.images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.hero{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: #f8f8f8;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.5);

}

.detel{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.images .head h1{
  
  font-size: 48px;
  color: #000000;
}

.detel p{
  color: #000000;
  line-height:  1.5em;
  font-size: 24px;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.images img{
  width: 900px;
  border-radius: 20px;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);

}

#prevalence {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #030303;
}

#prevalence .text{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8em;
}
#prevalence .text h1{
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
 

}

.wrapper1{
  margin-top: 100px;
  
}

.intro p{
  width: 1000px;
  color: #fff;
  font-size: 24px;
  margin-bottom: 2em;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  text-align: justify;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000; 
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #fc2200; 
  color: #fff;
}
.text-container{
  display: flex;
  

}
.text img{
  width: 30px;
  height: 40px;
  margin-top: 1.5em;

}


.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: #f8f8f8;
  
}

 .container1 h1{
  font-size: 40px;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;

}
.container1 p{
  width: 1000px;
  color: #000000;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: justify;
 

}
.button1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff1f1; 
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease; 
}

.button1:hover {
  background-color: #fc2200; 
  color: #fff;
}
#conclusion{
  margin-top: 10em;

}
#needed{
  display: flex;
  flex-direction: column;
}
#needed .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  background: #000000;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.5);
}
#needed .container h1{
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 25px;
}
#needed .container p{
  width: 1000px;
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: justify;
}

#needed .container .image img{
  border: 2px solid #fc2200;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  


}

#needed .container .image img:hover{
  border: 2px solid #ffffff;
  



}

@media screen and (max-width: 1629px) {
  #prevalence{
    width: 100%;
  }
  header nav li a{
      font-size: 15px;

  }
  .images img{
    width: 1000px;
  }

  #prevalence .text h1{
      font-size: 36px ;
  }
  .logo h1{
    font-size: 12px;
  }
  .text-container img{
    width: 20px;
    height: 30px;
  }
 
 
}

@media screen and (max-width: 963px) {
  .logo h1{
    display: none;
  }
  #prevalence .text h1{
    font-size: 26px ;
}
.intro p{
  font-size: 11px ;
}
.images img{
  width: 200px;
}
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;

}

