/* Style for Body */
body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f8f8f8;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0 20px;
}

/* Navigation Styles */
nav {
    background-color: #dddddd;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

main h2 {
    color: #444444;
}

main p {
    margin-bottom: 20px;
}

main a {
    color: #0066cc;
}

/* Footer Styles */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Styles for links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Add custom styles for different screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
}
