{% extends "index.html" %}
{% block content %}
<main>
  <h2>What's Needed</h2>
  <p>The experience of other countries provides valuable lessons. For instance, Finland's National Diabetes Prevention Program (FIN-D2D) has successfully reduced the incidence of diabetes by implementation of preventative approach. This initiative involved strategies like increased screening, treatment, lifestyle interventions through healthy diet and physical activity, awareness among the population and health care providers and intersectoral collaboration. A similar approach, adjusted for the specific context, could be beneficial in Ontario and other parts of Canada.</p>
  
  <!-- more content here -->

  <p>An essential aspect of preventing diabetes is addressing the social determinants of health, such as income, education, employment, and social support networks. Policies and programs aimed at improving these determinants can contribute significantly to preventing diabetes. For example, policies that support affordable housing and access to healthy food and restricting marketing of unhealthy foods and beverages can help reduce the risk of diabetes among low-income individuals.</p>

  <p>Strategies should be developed considering unique concerns of indigenous people, prioritizing health, wellness and cultural safety, hence should be developed  involving indigenous groups. These strategies should address disparities of health and determinants of health.</p>
</main>
{% endblock %}
